@font-face {
  font-family: americanTypewriter;
  src: url(assets/americantypewriter.ttf);
}

img {
  max-width: 100%;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7em;
}

@media (min-width: 1000px) {
  body {
    font-size: 1em;
  }
}

#body-wrapper {
  width: 100%;
}

@media (min-width: 1000px) {
  #body-wrapper {
    width: 80%;
  }
}

header, .content-box, #country-pic {
  margin: 20px;
  border: solid black 4px;
}

header {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-repeat: no-repeat;
}

@media desktop {
  header {
    height: 15vh;
  }
}

header h1 {
  color: black;
  font-family: americanTypewriter;
}

h2 {
  font-family: americanTypewriter;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  padding: 20px;
}

.content-box h2 {
  margin-top: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

@media (min-width: 1000px) {
  .row .content-box {
    width: 0;
  }
}

.img-container {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
}

#face-pic {
  width: 100%;
  float: right;
  border: solid black 4px;
  margin-left: 20px;
}

#body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#countries-visited {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#countries-visited li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid black 4px;
  list-style: none;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-family: americanTypewriter;
  text-align: center;
  cursor: pointer;
}

#countries-visited li:last-child {
  margin-bottom: 0;
}

#countries-visited ul {
  margin: 0;
  padding: 0;
  height: auto;
}

#country-selector {
  margin-right: 20px;
  width: 40%;
}

#country-pic {
  padding: 10px;
  max-width: 40%;
}

@media (min-width: 1000px) {
  #country-pic {
    height: 30vh;
    width: 20vw;
  }
}

#country-rank-table {
  width: 100%;
}

.image-cell {
  width: 50%;
}

.table-image {
  height: 10vh;
}

td {
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */